In [1]:
import numpy as np
import pandas as pd

In [42]:
cfpb_df = pd.read_excel(r'C:\Users\Admin\PycharmProjects\Money_flow_diagram\Real-data\PB_CF_to_SP_NKH.xlsx')
cfpb_df.head(5)

,Tháng,Mã đơn vị tổ chức cấp 5,Tên đơn vị tổ chức cấp 5,Mã đơn vị tổ chức cấp 6,Tên đơn vị tổ chức cấp 6,Mã SP cấp 5,Tên SP cấp 5,Mã phân khúc KH cấp 3,Tên phân khúc KH cấp 3,Chi phí nhận phân bổ tại thời điểm
0,2023 / 09,111,CN TRUNG TAM SAI GON,111100111021,PHONG KHACH HANG DOANH NGHIEP_CN TRUNG TAM SAI...,20010501.0,CHO VAY THE TIN DUNG,22,KHACH HANG CA NHAN VIP,3.800000e-01
1,2023 / 09,111,CN TRUNG TAM SAI GON,111100111021,PHONG KHACH HANG DOANH NGHIEP_CN TRUNG TAM SAI...,20030101.0,CHO VAY SXKD THONG THUONG,11,KHACH HANG DOANH NGHIEP LON,4.333343e+07
2,2023 / 09,111,CN TRUNG TAM SAI GON,111100111021,PHONG KHACH HANG DOANH NGHIEP_CN TRUNG TAM SAI...,20030101.0,CHO VAY SXKD THONG THUONG,12,KHACH HANG DOANH NGHIEP VUA VA NHO (SMEs),2.035640e+08
3,2023 / 09,111,CN TRUNG TAM SAI GON,111100111021,PHONG KHACH HANG DOANH NGHIEP_CN TRUNG TAM SAI...,20030101.0,CHO VAY SXKD THONG THUONG,24,KHACH HANG DOANH NGHIEP QUY MO SIEU NHO (ME),1.533729e+05
4,2023 / 09,111,CN TRUNG TAM SAI GON,111100111021,PHONG KHACH HANG DOANH NGHIEP_CN TRUNG TAM SAI...,20030129.0,GOI TIN DUNG KHDN 2019,11,KHACH HANG DOANH NGHIEP LON,3.475100e+01

In [9]:
cfpd_summary = cfpb_df.groupby(['Tháng', 'Mã đơn vị tổ chức cấp 6'])['Chi phí nhận phân bổ tại thời điểm'].sum().reset_index()
cfpd_summary

          Tháng  Mã đơn vị tổ chức cấp 6  Chi phí nhận phân bổ tại thời điểm
0     2023 / 09                    68099                        9.980000e+05
1     2023 / 09             110100996250                        1.936047e+09
2     2023 / 09             111100111021                        3.629632e+08
3     2023 / 09             111100116021                        4.970613e+08
4     2023 / 09             111100117021                        6.905285e+08
...         ...                      ...                                 ...
7669  2023 / 12             119000315000                        5.971006e+09
7670  2023 / 12             119000317000                        1.362376e+09
7671  2023 / 12             119000318000                        3.820926e+09
7672  2023 / 12             119000319000                        1.042604e+09
7673  2023 / 12             119000321000                        5.967596e+09

[7674 rows x 3 columns]

In [5]:
cftt_df = pd.read_excel(r'C:\Users\Admin\PycharmProjects\Money_flow_diagram\Real-data\CFQLKD.xlsx')
cftt_df

,Tháng,Mã đơn vị tổ chức cấp 5,Tên đơn vị tổ chức cấp 5,Mã đơn vị tổ chức cấp 6,Tên đơn vị tổ chức cấp 6,Chi phí quản lý kinh doanh trực tiếp
0,2023 / 09,111,CN TRUNG TAM SAI GON,111100111021,PHONG KHACH HANG DOANH NGHIEP_CN TRUNG TAM SAI...,3.629632e+08
1,2023 / 09,111,CN TRUNG TAM SAI GON,112100111121,PHONG KHACH HANG CA NHAN_CN TRUNG TAM SAI GON,4.044196e+08
2,2023 / 09,111,CN TRUNG TAM SAI GON,112100111150,PGD TAM BINH_CN TRUNG TAM SAI GON,4.921828e+08
3,2023 / 09,111,CN TRUNG TAM SAI GON,112100111151,PGD TIEN PHONG_CN TRUNG TAM SAI GON,4.271701e+08
4,2023 / 09,111,CN TRUNG TAM SAI GON,114600111335,PHONG QUAN LY RUI RO_CN TRUNG TAM SAI GON,1.710625e+08
...,...,...,...,...,...,...
11516,2023 / 12,996,TRUNG UONG 996,123500996844,BDS 996_CO QUAN CONG DOAN BIDV,2.137475e+09
11517,2023 / 12,996,TRUNG UONG 996,123500996845,BDS 996_CO QUAN DOAN THANH NIEN BIDV,2.705790e+09
11518,2023 / 12,996,TRUNG UONG 996,124200996310,BDS 996_TRUNG TAM THAM DINH VA PHE DUYET,1.301585e+10
11519,2023 / 12,996,TRUNG UONG 996,124200996311,BDS 996_TT DINH GIA TAI SAN BIDV,1.284771e+09
11520,2023 / 12,996,TRUNG UONG 996,99699,BDS 996_PHONG MISSING_HSC,1.050754e+08

In [14]:
cftt_summary = cftt_df.groupby(['Tháng', 'Mã đơn vị tổ chức cấp 6'])['Chi phí quản lý kinh doanh trực tiếp'].sum().reset_index()
cftt_summary

,Tháng,Mã đơn vị tổ chức cấp 6,Chi phí quản lý kinh doanh trực tiếp
0,2023 / 09,7199,0.000000e+00
1,2023 / 09,11699,3.551980e+06
2,2023 / 09,11999,-8.627796e+06
3,2023 / 09,13899,2.271381e+06
4,2023 / 09,14799,1.131362e+07
...,...,...,...
11516,2023 / 12,124200996311,1.284771e+09
11517,2023 / 12,1122009961401,2.602433e+09
11518,2023 / 12,1122009961402,6.506083e+09
11519,2023 / 12,1131009962101,9.756325e+09
11520,2023 / 12,1131009962102,2.373952e+08

In [32]:
result = pd.merge(cftt_summary, cfpd_summary, how='outer', on=['Tháng', 'Mã đơn vị tổ chức cấp 6'])
result

,Tháng,Mã đơn vị tổ chức cấp 6,Chi phí quản lý kinh doanh trực tiếp,Chi phí nhận phân bổ tại thời điểm
0,2023 / 09,7199,0.0,NaN
1,2023 / 09,11699,3551980.0,NaN
2,2023 / 09,11999,-8627796.0,NaN
3,2023 / 09,13899,2271381.0,NaN
4,2023 / 09,14799,11313616.0,NaN
...,...,...,...,...
11526,2023 / 10,113300990000,NaN,1.652982e+08
11527,2023 / 10,119000780000,NaN,1.651256e+09
11528,2023 / 11,111300990000,NaN,3.907053e+08
11529,2023 / 11,112300990000,NaN,1.905575e+09
11530,2023 / 11,113300990000,NaN,1.772863e+08

In [36]:
result['Check_sai_số'] = result['Chi phí quản lý kinh doanh trực tiếp'] - result['Chi phí nhận phân bổ tại thời điểm']

In [38]:
result[result['Mã đơn vị tổ chức cấp 6'] == 111100128022]

,Tháng,Mã đơn vị tổ chức cấp 6,Chi phí quản lý kinh doanh trực tiếp,Chi phí nhận phân bổ tại thời điểm,Check_sai_số
61,2023 / 09,111100128022,7.109732e+08,7.109732e+08,-1.192093e-07
2938,2023 / 10,111100128022,4.095543e+08,4.095543e+08,-2.999961e-03
5816,2023 / 11,111100128022,1.297719e+09,1.297719e+09,5.000114e-03
8695,2023 / 12,111100128022,1.580776e+09,1.580776e+09,-6.999969e-03

In [40]:
def check(x):
    if (x > 1) or (x < -1):
        return 1
    else:
        return 0
    
result['Check_sai_số_lớn'] = result['Check_sai_số'].apply(check)

In [41]:
result[result['Check_sai_số_lớn'] == 1]

,Tháng,Mã đơn vị tổ chức cấp 6,Chi phí quản lý kinh doanh trực tiếp,Chi phí nhận phân bổ tại thời điểm,Check_sai_số,Check_sai_số_lớn
16,2023 / 09,68099,2.699050e+07,9.980000e+05,2.599250e+07,1
23,2023 / 09,110100996250,1.579536e+09,1.936047e+09,-3.565105e+08,1
349,2023 / 09,111100996040,3.932709e+09,1.170838e+10,-7.775674e+09,1
353,2023 / 09,111300996015,4.374300e+09,1.150000e+07,4.362800e+09,1
355,2023 / 09,111300996030,3.590226e+09,6.229362e+09,-2.639136e+09,1
...,...,...,...,...,...,...
11171,2023 / 12,119000315000,3.509826e+09,5.971006e+09,-2.461180e+09,1
11172,2023 / 12,119000317000,8.705120e+07,1.362376e+09,-1.275325e+09,1
11173,2023 / 12,119000318000,-4.666633e+08,3.820926e+09,-4.287590e+09,1
11174,2023 / 12,119000319000,1.811891e+08,1.042604e+09,-8.614146e+08,1
11175,2023 / 12,119000321000,3.636545e+09,5.967596e+09,-2.331051e+09,1

In [51]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11531 entries, 0 to 11530
Data columns (total 6 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Tháng                                 11531 non-null  object
 1   Mã đơn vị tổ chức cấp 6               11531 non-null  int64
 2   Chi phí quản lý kinh doanh trực tiếp  11521 non-null  float64
 3   Chi phí nhận phân bổ tại thời điểm    7674 non-null   float64
 4   Check_sai_số                          7664 non-null   float64
 5   Check_sai_số_lớn                      11531 non-null  int64
dtypes: float64(3), int64(2), object(1)
memory usage: 630.6+ KB

In [57]:
result['ma'] = result['Mã đơn vị tổ chức cấp 6'].astype(str).str[-3:]

In [62]:
don_vi_sai_so_lon = result[result['Check_sai_số_lớn'] == 1]['ma'].value_counts()
don_vi_sai_so_lon.to_excel('don_vi_sai_so_lon.xlsx')

In [2]:
result.to_excel('merge_cftt_n_cfpd.xlsx', index= False)

NameError: name 'result' is not defined

In [3]:
cftt_9_df = pd.read_excel(r'C:\Users\Admin\PycharmProjects\Money_flow_diagram\Real-data\CFQLKD.xlsx'
                          , sheet_name='PB Giai đoạn 1 T9')

cftt_9_df

,Khối / OU Level 2,Ban / OU Level 3,Trung tâm / OU Level 4,Trung tâm phân bổ đi / From MPA Org unit,Thực hiện trong kỳ / Actual this term,Kế hoạch / Budget,Thực hiện kỳ trước / Actual last term,Cùng kỳ năm trước / Same period last year,% so với KH / Compare to budget,% so với kỳ trước / Compare to last term,% so với cùng kỳ / Compare to same period last year
0,10 - KHOI DAU TU,1000001 - KHOI DAU TU HSC,110100996250 - BDS 996_BAN QUAN LY DAU TU,115500996430 - BDS 996_TRUNG TAM DICH VU KHACH...,2.638112e+07,0,0,0,0,0,0
1,10 - KHOI DAU TU,1000001 - KHOI DAU TU HSC,110100996250 - BDS 996_BAN QUAN LY DAU TU,116500996510 - BDS 996_BAN TAI CHINH,7.543460e+06,0,0,0,0,0,0
2,10 - KHOI DAU TU,1000001 - KHOI DAU TU HSC,110100996250 - BDS 996_BAN QUAN LY DAU TU,116500996560 - BDS 996_BAN KE HOACH,2.785471e+07,0,0,0,0,0,0
3,10 - KHOI DAU TU,1000001 - KHOI DAU TU HSC,110100996250 - BDS 996_BAN QUAN LY DAU TU,117400071000 - TRUNG TAM CNTT_400,2.628286e+07,0,0,0,0,0,0
4,10 - KHOI DAU TU,1000001 - KHOI DAU TU HSC,110100996250 - BDS 996_BAN QUAN LY DAU TU,117400996690 - BDS 996_VAN PHONG,7.894149e+07,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
518,22 - KHOI CNTT VA NGAN HANG SO,220001 - KHOI CNTT VA NGAN HANG SO HSC,122500996222 - BDS 996_BAN QLDA COREBANKING,117400996690 - BDS 996_VAN PHONG,6.916778e+08,0,0,0,0,0,0
519,22 - KHOI CNTT VA NGAN HANG SO,220001 - KHOI CNTT VA NGAN HANG SO HSC,122500996222 - BDS 996_BAN QLDA COREBANKING,122400996221 - BDS 996_BAN CONG NGHE,5.289838e+07,0,0,0,0,0,0
520,22 - KHOI CNTT VA NGAN HANG SO,220001 - KHOI CNTT VA NGAN HANG SO HSC,122500996223 - BDS 996_TRUNG TAM QUAN TRI DU LIEU,117400071000 - TRUNG TAM CNTT_400,1.606540e+09,0,0,0,0,0,0
521,22 - KHOI CNTT VA NGAN HANG SO,220001 - KHOI CNTT VA NGAN HANG SO HSC,122500996223 - BDS 996_TRUNG TAM QUAN TRI DU LIEU,117400996690 - BDS 996_VAN PHONG,1.691603e+08,0,0,0,0,0,0
522,22 - KHOI CNTT VA NGAN HANG SO,220001 - KHOI CNTT VA NGAN HANG SO HSC,122500996223 - BDS 996_TRUNG TAM QUAN TRI DU LIEU,122400996221 - BDS 996_BAN CONG NGHE,5.409471e+06,0,0,0,0,0,0

In [4]:
cftt_9_df.columns

Index(['Khối / OU Level 2', 'Ban / OU Level 3', 'Trung tâm / OU Level 4',
       'Trung tâm phân bổ đi / From MPA Org unit',
       'Thực hiện trong kỳ / Actual this term', 'Kế hoạch / Budget',
       'Thực hiện kỳ trước / Actual last term',
       'Cùng kỳ năm trước / Same period last year',
       '% so với KH / Compare to budget',
       '% so với kỳ trước / Compare to last term',
       '% so với cùng kỳ / Compare to same period last year'],
      dtype='object')

In [8]:
cftt_9_df = cftt_9_df[['Trung tâm / OU Level 4','Trung tâm phân bổ đi / From MPA Org unit', 'Thực hiện trong kỳ / Actual this term']]
cftt_9_df

,Trung tâm / OU Level 4,Trung tâm phân bổ đi / From MPA Org unit,Thực hiện trong kỳ / Actual this term
0,110100996250 - BDS 996_BAN QUAN LY DAU TU,115500996430 - BDS 996_TRUNG TAM DICH VU KHACH...,2.638112e+07
1,110100996250 - BDS 996_BAN QUAN LY DAU TU,116500996510 - BDS 996_BAN TAI CHINH,7.543460e+06
2,110100996250 - BDS 996_BAN QUAN LY DAU TU,116500996560 - BDS 996_BAN KE HOACH,2.785471e+07
3,110100996250 - BDS 996_BAN QUAN LY DAU TU,117400071000 - TRUNG TAM CNTT_400,2.628286e+07
4,110100996250 - BDS 996_BAN QUAN LY DAU TU,117400996690 - BDS 996_VAN PHONG,7.894149e+07
...,...,...,...
518,122500996222 - BDS 996_BAN QLDA COREBANKING,117400996690 - BDS 996_VAN PHONG,6.916778e+08
519,122500996222 - BDS 996_BAN QLDA COREBANKING,122400996221 - BDS 996_BAN CONG NGHE,5.289838e+07
520,122500996223 - BDS 996_TRUNG TAM QUAN TRI DU LIEU,117400071000 - TRUNG TAM CNTT_400,1.606540e+09
521,122500996223 - BDS 996_TRUNG TAM QUAN TRI DU LIEU,117400996690 - BDS 996_VAN PHONG,1.691603e+08
522,122500996223 - BDS 996_TRUNG TAM QUAN TRI DU LIEU,122400996221 - BDS 996_BAN CONG NGHE,5.409471e+06

In [9]:
cf_nhan_pb_9_df = cftt_9_df[['Trung tâm / OU Level 4', 'Thực hiện trong kỳ / Actual this term']]
cf_nhan_pb_9_df

,Trung tâm / OU Level 4,Thực hiện trong kỳ / Actual this term
0,110100996250 - BDS 996_BAN QUAN LY DAU TU,2.638112e+07
1,110100996250 - BDS 996_BAN QUAN LY DAU TU,7.543460e+06
2,110100996250 - BDS 996_BAN QUAN LY DAU TU,2.785471e+07
3,110100996250 - BDS 996_BAN QUAN LY DAU TU,2.628286e+07
4,110100996250 - BDS 996_BAN QUAN LY DAU TU,7.894149e+07
...,...,...
518,122500996222 - BDS 996_BAN QLDA COREBANKING,6.916778e+08
519,122500996222 - BDS 996_BAN QLDA COREBANKING,5.289838e+07
520,122500996223 - BDS 996_TRUNG TAM QUAN TRI DU LIEU,1.606540e+09
521,122500996223 - BDS 996_TRUNG TAM QUAN TRI DU LIEU,1.691603e+08
522,122500996223 - BDS 996_TRUNG TAM QUAN TRI DU LIEU,5.409471e+06

In [16]:
cf_nhan_pb_9_df['Mã đơn vị tổ chức cấp 6'] = cf_nhan_pb_9_df['Trung tâm / OU Level 4'].str.split(' - ').str[0]
cf_nhan_pb_9_df.drop('Trung tâm / OU Level 4', axis=1, inplace= True)
cf_nhan_pb_9_df

     Thực hiện trong kỳ / Actual this term Mã đơn vị tổ chức cấp 6
0                             2.638112e+07            110100996250
1                             7.543460e+06            110100996250
2                             2.785471e+07            110100996250
3                             2.628286e+07            110100996250
4                             7.894149e+07            110100996250
..                                     ...                     ...
518                           6.916778e+08            122500996222
519                           5.289838e+07            122500996222
520                           1.606540e+09            122500996223
521                           1.691603e+08            122500996223
522                           5.409471e+06            122500996223

[523 rows x 2 columns]

In [15]:
cf_di_pb_9_df = cftt_9_df[['Trung tâm phân bổ đi / From MPA Org unit', 'Thực hiện trong kỳ / Actual this term']]
cf_di_pb_9_df['Thực hiện trong kỳ / Actual this term'] = cf_di_pb_9_df['Thực hiện trong kỳ / Actual this term'] * -1
cf_di_pb_9_df['Mã đơn vị tổ chức cấp 6'] = cf_di_pb_9_df['Trung tâm phân bổ đi / From MPA Org unit'].str.split(' - ').str[0]
cf_di_pb_9_df.drop('Trung tâm phân bổ đi / From MPA Org unit', axis=1, inplace= True)
cf_di_pb_9_df

C:\Users\Admin\AppData\Local\Temp\ipykernel_14716\3529715794.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cf_di_pb_9_df['Thực hiện trong kỳ / Actual this term'] = cf_di_pb_9_df['Thực hiện trong kỳ / Actual this term'] * -1

     Thực hiện trong kỳ / Actual this term Mã đơn vị tổ chức cấp 6
0                            -2.638112e+07            115500996430
1                            -7.543460e+06            116500996510
2                            -2.785471e+07            116500996560
3                            -2.628286e+07            117400071000
4                            -7.894149e+07            117400996690
..                                     ...                     ...
518                          -6.916778e+08            117400996690
519                          -5.289838e+07            122400996221
520                          -1.606540e+09            117400071000
521                          -1.691603e+08            117400996690
522                          -5.409471e+06            122400996221

[523 rows x 2 columns]

In [17]:
concat_cf_pb_9_df = pd.concat([cf_nhan_pb_9_df, cf_di_pb_9_df])
concat_cf_pb_9_df

     Thực hiện trong kỳ / Actual this term Mã đơn vị tổ chức cấp 6
0                             2.638112e+07            110100996250
1                             7.543460e+06            110100996250
2                             2.785471e+07            110100996250
3                             2.628286e+07            110100996250
4                             7.894149e+07            110100996250
..                                     ...                     ...
518                          -6.916778e+08            117400996690
519                          -5.289838e+07            122400996221
520                          -1.606540e+09            117400071000
521                          -1.691603e+08            117400996690
522                          -5.409471e+06            122400996221

[1046 rows x 2 columns]

In [18]:
# concat_cf_pb_9_df['Mã đơn vị tổ chức cấp 6'] = concat_cf_pb_9_df['Trung tâm / OU Level 4'].str.split(' - ').str[0]
# concat_cf_pb_9_df

In [89]:
# concat_cf_pb_9_df.drop('Trung tâm / OU Level 4', axis= 1, inplace= True)

In [19]:
concat_cf_pb_9_df = concat_cf_pb_9_df[['Mã đơn vị tổ chức cấp 6', 'Thực hiện trong kỳ / Actual this term']]
concat_cf_pb_9_df

    Mã đơn vị tổ chức cấp 6  Thực hiện trong kỳ / Actual this term
0              110100996250                           2.638112e+07
1              110100996250                           7.543460e+06
2              110100996250                           2.785471e+07
3              110100996250                           2.628286e+07
4              110100996250                           7.894149e+07
..                      ...                                    ...
518            117400996690                          -6.916778e+08
519            122400996221                          -5.289838e+07
520            117400071000                          -1.606540e+09
521            117400996690                          -1.691603e+08
522            122400996221                          -5.409471e+06

[1046 rows x 2 columns]

In [21]:
cftt_df = pd.read_excel(r'C:\Users\Admin\PycharmProjects\Money_flow_diagram\Real-data\CFQLKD.xlsx')
cftt_9_df = cftt_df[cftt_df['Tháng'] == '2023 / 09']
cftt_9_df = cftt_9_df[['Mã đơn vị tổ chức cấp 6', 'Chi phí quản lý kinh doanh trực tiếp']]
cftt_9_df

      Mã đơn vị tổ chức cấp 6  Chi phí quản lý kinh doanh trực tiếp
0                111100111021                          3.629632e+08
1                112100111121                          4.044196e+08
2                112100111150                          4.921828e+08
3                112100111151                          4.271701e+08
4                114600111335                          1.710625e+08
...                       ...                                   ...
2868             123500996844                          1.269407e+09
2869             123500996845                          2.093191e+08
2870             124200996310                          8.335697e+09
2871             124200996311                          7.946282e+08
2872                    99699                          1.557540e+08

[2873 rows x 2 columns]

In [22]:
concat_cf_pb_9_df.rename({'Thực hiện trong kỳ / Actual this term': 'Size'}, axis=1, inplace= True)
cftt_9_df.rename({'Chi phí quản lý kinh doanh trực tiếp': 'Size'}, axis=1, inplace= True)

In [23]:
cf_con_lai_9_df = pd.concat([concat_cf_pb_9_df, cftt_9_df])
cf_con_lai_9_df

     Mã đơn vị tổ chức cấp 6          Size
0               110100996250  2.638112e+07
1               110100996250  7.543460e+06
2               110100996250  2.785471e+07
3               110100996250  2.628286e+07
4               110100996250  7.894149e+07
...                      ...           ...
2868            123500996844  1.269407e+09
2869            123500996845  2.093191e+08
2870            124200996310  8.335697e+09
2871            124200996311  7.946282e+08
2872                   99699  1.557540e+08

[3919 rows x 2 columns]

In [25]:
cf_con_lai_9_df['Mã đơn vị tổ chức cấp 6'] = cf_con_lai_9_df['Mã đơn vị tổ chức cấp 6'].astype(str) 
cf_con_lai_9_sum_df = cf_con_lai_9_df.groupby('Mã đơn vị tổ chức cấp 6')['Size'].sum().reset_index()
cf_con_lai_9_sum_df

     Mã đơn vị tổ chức cấp 6          Size
0               110100996250  1.936047e+09
1               110300990000  1.356031e+09
2               111000996012  0.000000e+00
3               111000996016  0.000000e+00
4               111000996040  0.000000e+00
...                      ...           ...
2883                   74599  2.808000e+06
2884                   75099  1.155840e+06
2885                   78899  7.931011e+06
2886                   87899  2.513949e+07
2887                   99699  1.557540e+08

[2888 rows x 2 columns]

In [38]:
cf_con_lai_9_sum_df.to_excel('test.xlsx', index= False)

In [26]:
# test_2_df = pd.read_csv(r'C:\Users\Admin\PycharmProjects\Money_flow_diagram\Output 2.csv')
# test_2_df

           Nhận pb  Chi phí quản lý kinh doanh trực tiếp
0     111100111021                          3.629632e+08
1     112100111121                          4.044196e+08
2     112100111150                          4.921828e+08
3     112100111151                          4.271701e+08
4     114600111335                          1.710625e+08
...            ...                                   ...
3914  122500996222                          6.916778e+08
3915  122500996222                          5.289838e+07
3916  122500996223                          1.606540e+09
3917  122500996223                          1.691603e+08
3918  122500996223                          5.409471e+06

[3919 rows x 2 columns]

In [32]:
# test_3_df = test_2_df.groupby(['Nhận pb'])['Chi phí quản lý kinh doanh trực tiếp'].sum().reset_index()
# test_3_df

            Nhận pb  Chi phí quản lý kinh doanh trực tiếp
0              7199                          0.000000e+00
1             11699                          3.551980e+06
2             11999                         -8.627796e+06
3             13899                          2.271381e+06
4             14799                          1.131362e+07
...             ...                                   ...
2883   124200996311                          7.946282e+08
2884  1122009961401                          4.537016e+08
2885  1122009961402                          1.137620e+09
2886  1131009962101                          5.945655e+09
2887  1131009962102                          5.628148e+08

[2888 rows x 2 columns]

In [30]:
# test_df = cf_con_lai_9_sum_df[cf_con_lai_9_sum_df['Size'] <= 0]
# test_df

     Mã đơn vị tổ chức cấp 6   Size
2               111000996012  0.000
3               111000996016  0.000
4               111000996040  0.000
330             111300990015  0.000
331             111300990070  0.000
...                      ...    ...
2857            122500996222 -0.003
2859            123500996840 -0.005
2861            123500996842 -0.003
2862            123500996843 -0.005
2881                    7199  0.000

[95 rows x 2 columns]

In [33]:
# test_3_df[test_3_df['Nhận pb'] == 117500990621]

           Nhận pb  Chi phí quản lý kinh doanh trực tiếp
2269  117500990621                         -1.403382e+09

In [37]:
# test_df[test_df['Mã đơn vị tổ chức cấp 6'] == '117500990621']

     Mã đơn vị tổ chức cấp 6          Size
2251            117500990621 -1.403382e+09

In [43]:
cfpb_df = cfpb_df[cfpb_df['Tháng'] == '2023 / 09']
cfpb_df

,Tháng,Mã đơn vị tổ chức cấp 5,Tên đơn vị tổ chức cấp 5,Mã đơn vị tổ chức cấp 6,Tên đơn vị tổ chức cấp 6,Mã SP cấp 5,Tên SP cấp 5,Mã phân khúc KH cấp 3,Tên phân khúc KH cấp 3,Chi phí nhận phân bổ tại thời điểm
0,2023 / 09,111,CN TRUNG TAM SAI GON,111100111021,PHONG KHACH HANG DOANH NGHIEP_CN TRUNG TAM SAI...,20010501.0,CHO VAY THE TIN DUNG,22,KHACH HANG CA NHAN VIP,3.800000e-01
1,2023 / 09,111,CN TRUNG TAM SAI GON,111100111021,PHONG KHACH HANG DOANH NGHIEP_CN TRUNG TAM SAI...,20030101.0,CHO VAY SXKD THONG THUONG,11,KHACH HANG DOANH NGHIEP LON,4.333343e+07
2,2023 / 09,111,CN TRUNG TAM SAI GON,111100111021,PHONG KHACH HANG DOANH NGHIEP_CN TRUNG TAM SAI...,20030101.0,CHO VAY SXKD THONG THUONG,12,KHACH HANG DOANH NGHIEP VUA VA NHO (SMEs),2.035640e+08
3,2023 / 09,111,CN TRUNG TAM SAI GON,111100111021,PHONG KHACH HANG DOANH NGHIEP_CN TRUNG TAM SAI...,20030101.0,CHO VAY SXKD THONG THUONG,24,KHACH HANG DOANH NGHIEP QUY MO SIEU NHO (ME),1.533729e+05
4,2023 / 09,111,CN TRUNG TAM SAI GON,111100111021,PHONG KHACH HANG DOANH NGHIEP_CN TRUNG TAM SAI...,20030129.0,GOI TIN DUNG KHDN 2019,11,KHACH HANG DOANH NGHIEP LON,3.475100e+01
...,...,...,...,...,...,...,...,...,...,...
305894,2023 / 09,996,TRUNG UONG 996,122200996220,BDS 996_TRUNG TAM NGAN HANG SO,27070107.0,PHI THUONG NIEN BIDV IBANK,15,KHACH HANG NGUON VON UY THAC QUOC TE,7.191769e+03
305895,2023 / 09,996,TRUNG UONG 996,122200996220,BDS 996_TRUNG TAM NGAN HANG SO,27070107.0,PHI THUONG NIEN BIDV IBANK,19,KHACH HANG AO KHOI BAN BUON,7.191769e+03
305896,2023 / 09,996,TRUNG UONG 996,122200996220,BDS 996_TRUNG TAM NGAN HANG SO,27070107.0,PHI THUONG NIEN BIDV IBANK,21,KHACH HANG CA NHAN THONG THUONG,7.191769e+03
305897,2023 / 09,996,TRUNG UONG 996,122200996220,BDS 996_TRUNG TAM NGAN HANG SO,27070107.0,PHI THUONG NIEN BIDV IBANK,22,KHACH HANG CA NHAN VIP,7.191769e+03
305898,2023 / 09,996,TRUNG UONG 996,122200996220,BDS 996_TRUNG TAM NGAN HANG SO,27070107.0,PHI THUONG NIEN BIDV IBANK,24,KHACH HANG DOANH NGHIEP QUY MO SIEU NHO (ME),4.315062e+04

In [45]:
cfpd_summary_df = cfpb_df.groupby('Mã đơn vị tổ chức cấp 6')['Chi phí nhận phân bổ tại thời điểm'].sum().reset_index()
cfpd_summary_df

      Mã đơn vị tổ chức cấp 6  Chi phí nhận phân bổ tại thời điểm
0                       68099                        9.980000e+05
1                110100996250                        1.936047e+09
2                111100111021                        3.629632e+08
3                111100116021                        4.970613e+08
4                111100117021                        6.905285e+08
...                       ...                                 ...
2276             122200996220                        1.297442e+10
2277            1122009961401                        4.537016e+08
2278            1122009961402                        1.137620e+09
2279            1131009962101                        5.945655e+09
2280            1131009962102                        5.628148e+08

[2281 rows x 2 columns]

In [47]:
# test_3_df[test_3_df['Nhận pb'] == 111100570021]

          Nhận pb  Chi phí quản lý kinh doanh trực tiếp
273  111100570021                          1.340814e+09

In [50]:
cfpd_summary_df[cfpd_summary_df['Mã đơn vị tổ chức cấp 6'] == 111100570021]

     Mã đơn vị tổ chức cấp 6  Chi phí nhận phân bổ tại thời điểm
247             111100570021                        1.340814e+09

In [51]:
cfpd_summary_df['Mã đơn vị tổ chức cấp 6'] = cfpd_summary_df['Mã đơn vị tổ chức cấp 6'].astype(str)

In [56]:
result_1 = pd.merge(cfpd_summary_df, cf_con_lai_9_sum_df, how='outer', on=['Mã đơn vị tổ chức cấp 6'])
result_1.to_excel("Output 3.xlsx", index= False)

In [60]:
result_1.columns

Index(['Mã đơn vị tổ chức cấp 6', 'Chi phí nhận phân bổ tại thời điểm',
       'Size'],
      dtype='object')

In [ ]:
result_1['Chenh_lech'] = result_1[]